---
/**
 * About page (/about)
 */
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="About" description="About this project and the team behind it.">
  <section class="container">
    <h1>About</h1>
    {/* TODO: project description, credits, course context */}
  </section>
</MainLayout>
