---
/**
 * Catalog page (/catalog)
 */
import MainLayout from '@layouts/MainLayout.astro';
import Agenda from '@components/agenda/Agenda.astro';
---

<MainLayout title="Catalog" description="The full catalog and exhibition program.">
  <section class="container">
    <h1>Catalog</h1>
    {/* TODO: catalog listing */}
    <Agenda />
  </section>
</MainLayout>
