---
/**
 * Exhibition page (/exhibition)
 */
import MainLayout from '@layouts/MainLayout.astro';
import ObjectViewer from '@components/exhibition/ObjectViewer.astro';
---

<MainLayout title="Exhibition" description="Explore the curated exhibition experience.">
  <section class="container">
    <h1>Exhibition</h1>
    <ObjectViewer />
  </section>
</MainLayout>
