---
/**
 * Timeline page (/timeline)
 */
import MainLayout from '@layouts/MainLayout.astro';
import Timeline from '@components/timeline/Timeline.astro';
---

<MainLayout title="Timeline" description="A chronological journey through the collection.">
  <section class="container">
    <h1>Timeline</h1>
    <Timeline />
  </section>
</MainLayout>
